body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cc5607;
    color: #333;
    line-height: 1.6;
    text-align: center;
}
header {
    background-color: rgb(131, 59, 10);
    color: rgb(196, 102, 40);
    padding: 20px;
    text-align: center;

}

header h1 {
    margin: 0;
}

header p {
    font-style: italic;
    margin-top: 5px;
}

nav a {
    color: rgb(182, 137, 53);
    text-decoration: none;
    margin: 0 10px;

}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

section h2 {
    color: firebrick;
}

li {
    list-style: inside;
}
section {
    padding: 20px;

}

section h2 {
color: rgb(230, 230, 230);
}

li {
    list-style: inside;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

}

table, th, td {
    border: 1px solid #ddd;
}

section {
    padding: 20px;
}

section h2 {
    color: #ff4d00;
}

li {
    list-style: inside;
}
table {
    width:  100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border:  1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align:  center;
}

thead {
    background-color: #ffddc1;
}

form {
    background-color: #fff3e0;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px  rgba(0,0,0,0.1);

}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

form input[type="checkbox"],
form input[type="radio"] {
    margin-right: 5px;
}

form button {
    background-color:#ff4d00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #e63900;
}
#contact p {
    border: 2px solid #ff4d00;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    width: max-content;
}

footer {
    background-color: #ffffff;
    color: rgb(105, 69, 2);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
    